-content_for :title do
  Welcome!

-content_for :standfirst do
  %p
    %strong
      Hello
      = @user.formal_name.strip + "."

- if @user.unconfirmed?
  %p
    We notice that your Croucher Foundation account has not been used before.
    Before we go any further, please choose a password to secure your account.

  = render "users/confirmation_form", user: @user

  %p
    On your next visit you will be able to sign in directly with the email address
    %strong
      = @user.email
    and the password you choose here.
